# IDE Files #
#############
.idea
out/
.project
.settings
.buildpath
.~lock.*
nbproject
composer.lock
*.iml
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
*.sql
*.sqlite
*.jar
*.tar
*.zip
*.dll
*.exe
*.com
*.o
